section.feed
	h2 Matches in progress
	.card-box
		.card
			.pair-up
				.user#user1
					.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
					.name Hello
				p vs
				.user#user2
					.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg')")
					.name World
	.card-box
		.card
			.pair-up
				.user#user1
					.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/whale/128.jpg')")
					.name Hello
				p vs
				.user#user2
					.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/primaryforex/128.jpg')")
					.name World
