header
	.container
		h1.logo 
			p.mark: img(src="/img/logo.svg", alt="")
			span Code-Tennis
		nav.main-nav
			ul
				li: a(href="#") Challenges
				li: a(href="#") Community
				li: a(href="#") Showcase
