aside.users
	h2 Users online

	ul
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name John Smith
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Jane Smith
					.location Atlanta, GA
				.status: i.Available Available
			.action Challenge
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch							
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch
		li
			.user-info
				.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')")
				.label
					.name Aaron Benjamin
					.location Atlanta, GA
				.status: i.playing Playing
			.action Watch		